@font-face {
    font-family: 'Graphik Reg';
    src: url('./fonts/GraphikLCG-Regular.ttf');
}

@font-face {
    font-family: 'Graphik Bold';
    src: url('./fonts/GraphikLCG-Semibold.ttf');
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;

    .nav_buttons{
        display: flex;
        padding-right: 48px;
        padding-top: 22px;
        gap: 9px;
    }

    .menu{
        display: flex;
        padding: 28px 48px;
        list-style: none;
        font-size: 15px;
        line-height: 20px;
        font-family: 'Graphik Reg';
        align-items: center;

        &_ithem{
            padding-left: 50px;
        }
    }

    .btn{
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 16px;
        line-height: 60px; 
        border: 1px solid rgba(0, 0, 0, 0.50);
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 45px;
      
        &--orange{
          color: #fff;
          border-color: #FF6336;
          background-color: #FF6336;
        }
    }
}
  
.cta{
    padding: 43px 75px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 30px);
  
    h1{
      color: #000;
      font-family: 'Graphik Bold';
      font-size: 60px;
      line-height: 70px;
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 8;
      grid-column-end: 9;
      display: inline-grid;
    }
  
    &_text{
      color: #000;
      font-family: 'Graphik Reg';
      font-size: 23px;
      line-height: 35px; 
      grid-column-start: 1;
      grid-row-start: 10;
      grid-row-end: 13;
      grid-column-end: 8;
      display: inline-grid;
    }
  
    span{
      color: #000;
      font-family: 'Graphik Reg';
      font-size: 15px;
      line-height: 25px;
      grid-column-start: 1;
      grid-row-start: 19;
      grid-row-end: 20;
      grid-column-end: 7;
      display: inline-grid;
    }
  
    &-buttons{
      display: flex;
      gap: 10px;
      grid-column-start: 1;
      grid-row-start: 16;
      grid-row-end: 18;
      grid-column-end: 8;
    }
  
    img{
      grid-column-start: 9;
      grid-row-start: 3;
      grid-row-end: 19;
      grid-column-end: 21;
    }
}
  
.btn{
    color: #000;
    text-align: center;
    font-family: 'Graphik Bold';
    font-size: 16px;
    line-height: 60px; 
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
  
    &--orange{
      color: #fff;
      border-color: #FF6336;
      background-color: #FF6336;
    }
}

.brands{
    background: #FF9C7D;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 80px 70px;
    padding: 96px 0;

    .title{
        grid-area: 1/1/1/7;
        display: flex;
        justify-content: center;

        &_text{
            text-align: center;
            font-family: 'Graphik Bold';
            font-size: 50px;
            line-height: 60px;
            text-align: center;
        }
    }
}

.lokalise{
    background-color: #FFF8E4;

    .title{
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 50px;
        line-height: 60px;
        padding-top: 100px;
        padding-bottom: 60px;
    }
    
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 75px;
        gap: 40px;
        padding-bottom: 120px;
    
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .lokal_title{
                text-align: center;
                font-size: 20px;
                font-family: 'Graphik Bold';
                line-height: 35px;
            }

            .lokal_text{
                text-align: center;
                font-size: 14px;
                font-family: 'Graphik Reg';
                line-height: 25px;
                width: 60%;
            }
        }
    }
}

.prop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 100px 75px;
    gap: 220px 0;

    .content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 120px;
        padding-right: 120px;

        &_title{
            font-size: 40px;
            line-height: 60px;
            font-family: 'Graphik Bold';
            width: 80%;
        }

        &_text{
            font-size: 18px;
            line-height: 30px;
            font-family: 'Graphik Reg';
        }

        &_btn{
            color: #000;
            text-align: center;
            font-family: 'Graphik Bold';
            font-size: 15px;
            line-height: 60px; 
            border: none;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 96px;
        }

        &--padding{
            padding-left: 100px;
        }
             
    }
}

.boost{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 60px;

    .title{
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 50px;
        line-height: 60px;
        padding-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 75px;
        gap: 40px;
        padding-bottom: 120px;
    
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            &_title{
                text-align: center;
                font-size: 20px;
                font-family: 'Graphik Bold';
                line-height: 35px;
            }

            &_text{
                font-size: 14px;
                font-family: 'Graphik Reg';
                line-height: 25px;
                width: 60%;
            }

            &_link{
                color: #000;
                font-size: 16px;
                line-height: 30px;
                font-family: 'Graphik Reg'; 
            }
        }
    }
}

.revolut{
    background: #C9E8F2;

    .container{
        display: grid;
        grid-template-columns: repeat(22, 65px);
        grid-template-rows: repeat(1, 1fr);
        padding-top: 45px;
        padding-bottom: 95px;

        .content{
            grid-column-start: 2;
            grid-column-end: 14;
            padding-top: 6px;
    
            &_text{
                font-size: 26px;
                font-family: 'Graphik Reg';
                line-height: 40px; 
                padding-bottom: 18px;
            }

            &_mini{
                font-family: 'Graphik Reg';
                font-size: 13px;
            }

            &_logo{
                padding-top: 10px;
            }
        }
    
        img{
            grid-column-start: 17;
            grid-column-end: 22;
            padding-left: 20px;
        }
    }
}

.merits{
    background-color: #DABC98;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 80px 0;

    .group1{
        display: flex;
        align-items: center;
        gap: 55px;
        padding-left: 48px;
        grid-column-start: 1;
        grid-column-end: 7;

        &_text{
            font-size: 35px;
            line-height: 50px;
            font-family: 'Graphik Bold';
        }
    }

    .group2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        border-left: 1px solid #000;
        padding-left: 70px;

        .content{
            display: flex;
            flex-direction: column;
            gap: 14px;

            &_text{
                font-size: 15px;
                line-height: 25px;
                font-family: 'Graphik Reg';
            }
        }
    }
}

.integrate{
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 135px;

        &_title{
            text-align: center;
            font-size: 60px;
            line-height: 75px;
            font-family: 'Graphik Bold';
            width: 50%;
        }

        &_text{
            text-align: center;
            font-size: 23px;
            line-height: 30px;
            font-family: 'Graphik Reg';
            width: 36%;      
        }

        &_btn{
            color: #fff;
            text-align: center;
            font-family: 'Graphik Bold';
            font-size: 14px;
            line-height: 60px; 
            border: 1px solid #FF6336;
            background-color: #FF6336;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 55px;
        }

        img{
            padding: 30px 0;
        }
    }
}

.try{
    background-color: #FF9C7D;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 140px;
        padding-bottom: 156px;

        &_title{
            text-align: center;
            font-size: 60px;
            line-height: 75px;
            font-family: 'Graphik Bold';
            width: 50%;
        }

        &_text{
            text-align: center;
            font-size: 18px;
            line-height: 30px;
            font-family: 'Graphik Reg';
            padding-top: 20px;
            padding-bottom: 50px;
        }

        &_btn{
            color: #fff;
            text-align: center;
            font-family: 'Graphik Bold';
            font-size: 14px;
            line-height: 60px; 
            border: 1px solid #000;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
        }
    }
}

.case{
    background: #EEE;

    .container{
        display: flex;
        padding-bottom: 90px;

        .content1{
            padding-left: 68px;
            padding-top: 86px;
            display: flex;
            flex-direction: column;

                &_title{
                font-size: 35px;
                line-height: 50px;
                font-family: 'Graphik Bold';
            }

                img{
                padding-top: 20px;
                padding-bottom: 28px;
                width: 300px;
                height: 300px;
            }

                &_text{
                font-size: 17px;
                line-height: 30px;
                font-family: 'Graphik Reg';
                width: 50%;
            }

                &_btn{
                color: #000;
                text-align: center;
                font-family: 'Graphik Bold';
                font-size: 18px;
                line-height: 60px;
                background-color: #EEEEEE;
                border: none;
                display: flex;
                width: 100px;
            }
        }

        .content2{
            display: flex;
            padding-top: 86px;
            gap: 70px;
            padding-right: 60px;

            .item{
                display: flex;
                flex-direction: column;

                &_title{
                    font-size: 18px;
                    line-height: 25px;
                    font-family: 'Graphik Bold';
                    padding-bottom: 14px;
                }

                &_list{
                    display: flex;
                    flex-direction: column;
                    font-size: 15px;
                    line-height: 15px;
                    font-family: 'Graphik Reg';
                    gap: 12px;
                    list-style: none;
                    width: 90%;
                }
            }
        }
    }
}

footer{
    background-color: #EEEEEE;

    .container{
        display: flex;
        justify-content: space-between;
        margin: 0 68px;
        border-top: 1px solid #000;

        .content1{
            display: flex;
            padding: 48px 0px;
    
            &_text{
                font-size: 12px;
                line-height: 15px;
                font-family: 'Graphik Reg';
                width: 50%;
                padding-left: 10px;
            }
        }
    
        .content2{
            font-size: 12px;
            line-height: 15px;
            font-family: 'Graphik Reg';
            padding: 48px 0;
            padding-left: 68px;
            padding-right: 50px;
        }
    }
}
